* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: poppins;
	background-color: #4e00ff;
}
ul, ul.nav {
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}
header h2 span {
	color: #bf0a30;
}
header ul.nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
header ul.nav li {
	margin: 0 15px;
}
header ul.nav li:first-child {
	margin-left: 0;
}
header ul.nav li:last-child {
	margin-right: 0;
}
/*banner area*/

section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 110px 100px;
	color: #000;
}
section p {
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}
.banner-area {
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}
.banner-area .banner-img {
	background-image: url(image/COMMUNITY\ BUILDERS\ ASSOCIATION\(8\).webp);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: -1;
	background-position: center center;
}
.banner-area .banner-img::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .2;
}
.banner-area h1 {
	margin-bottom: 15px;
	font-size: 65px;
	text-transform: uppercase;
}
.banner-area h1 span {
	color: #bf0a30;
}
.banner-area h3 {
	font-size: 25px;
	font-weight: 100;
	text-transform: uppercase;
}
.banner-area a.banner-btn {
	padding: 15px 35px;
	background: #bf0a30;
	text-transform: uppercase;
}
/*about area*/

ul.about-content {
	width: 108%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-image: url(image6/Whether\ you’re\ buying\,\ listing\,\ or\ renting\,\ we\ can\ be\ of\ assistance\ to\ you.\(3\).png);
}
.about-content li {
	padding: 20px;
	height: 750px;
	background-clip: content-box;
}
.about-right h2 {
	font-size: 35px;
}
.about-area p {
	max-width: 800px;
	margin-bottom: 35px;
	line-height: 1.5;
	text-align: left;
	padding-left: 0;
}
.section-title {
	text-transform: uppercase;
	font-size: 50px;
	margin-bottom: 5%;
}
.section-title span {
	color: #bf0a30;
}
.about-right h2 {
	margin-bottom: 3%;
}
.about-btn {
	padding: 55px 85px;
	background: #bf0a30;
	border-radius: 50px;
	text-transform: uppercase;
	color: #fff;
}

/*msg area*/

.msg-area {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url();
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
}
/*service area*/

ul.services-content {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.services-content li {
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}
.services-content img {
	width: 100%;
	margin-bottom: 20px;
}
.services-content li h4 {
	font-size: 20px;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
}
.services-content li p {
	margin: 0;
}
#whatsapp{
	position: fixed;
	bottom: 1%;
	left: 60%;
	padding: 15px;
	font-size: 50px;
	color: white;
	background: #25d366;
	border-radius: 100%;
	display: inline-block;
	text-decoration: none;
	color: #4e00ff;
  margin-bottom: 80px;
}
/*contact area*/

ul.contact-content {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.contact-content li {
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}
.contact-content li i {
	font-size: 50px;
	color: #bf0a30;
	margin-bottom: 25px;
}
.contact-content li p {
	margin: 0;
}
/*footer*/

footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #000;
	padding: 60px 0;
}
@media only screen and (min-width:280px) and (max-width:1024px) 
and (min-resolution:30dpi) {
.banner-area .banner-img{
	background-image: url(image/COMMUNITY\ BUILDERS\ ASSOCIATION\(8\).webp);
	width: 500%;
}
}

@media only screen and (min-width:280px) and (max-width:1024px) 
and (min-resolution:30dpi) {
ul.about-content {
	background-image: url(image6/Whether\ you’re\ buying\,\ listing\,\ or\ renting\,\ we\ can\ be\ of\ assistance\ to\ you.\(3\).png);

}
html{
	width: 200px;
}
section{
	width: 200px;
}
section p{
	width: 100px;
}
.banner-area{
	width: 100px;
}
.banner-area h1{
	width: 100px;
}
.banner-area h3{
	width: 200px;
}
.banner-area a.banner-btn{
	width: 200px;
}
.about-content li{
	width: 100px;
}
.about-area p{
	width: 200px;
}
.section-title{
	width: 200px;
}
body{
	width: 100px;
}
header{
	width: 100px;
}
header h2 span{
	width: 200px;
}
ul, ul.nav{
	width: 100px;
}
header ul.nav{
	width: 200px;
}
header ul.nav li:first-child {
	width: 200px;
}
header ul.nav li:last-child {
width: 200px;
}
a{
	width: 100px;
}
.about-right h2{
	width: 200px;
}
.msg-area{
	width: 200px;
}
}

